Repository moveit/moveit_task_constructor: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, misspelled-moveit

.pre-commit-config.yaml:

# To use:
#
#     pre-commit run -a
#
# Or:
#
#     pre-commit install  # (runs every time you commit in git)
#
# To update this file:
#
#     pre-commit autoupdate
#
# See https://github.com/pre-commit/pre-commit

repos:
  # Standard hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-xml
      - id: check-yaml
      - id: debug-statements
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace

  - repo: https://github.com/psf/black
    rev: 24.4.2
    hooks:
      - id: black
        args: ["--line-length", "100"]

  - repo: local
    hooks:
      - id: clang-format
        name: clang-format
        description: Format files with ClangFormat.
        entry: clang-format-12
        language: system
        files: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|js|m|proto|vert)$
        args: ["-fallback-style=none", "-i"]
      - id: catkin_lint
        name: catkin_lint
        description: Check package.xml and cmake files
        entry: catkin_lint . --ignore duplicate_cmd
        language: system
        always_run: true
        pass_filenames: false

  - repo: local
    hooks:
      - id: misspelled-moveit
        name: misspelled-moveit
        description: MoveIt should be spelled exactly as MoveIt
        language: pygrep
        entry: Moveit|MoveIt!
        exclude: .pre-commit-config.yaml|README.md

Minor cleanup
  core/include/moveit/task_constructor/stage_p.h
  core/src/stage.cpp
  core/src/task.cpp
Due: clang-format, misspelled-moveit

Silent error "Found empty JointState message"
  capabilities/src/execute_task_solution_capability.cpp
Due: clang-format, misspelled-moveit

Reduce stop time due to preempt (#598)
  core/include/moveit/task_constructor/stage_p.h
  core/src/stage.cpp
  core/src/task.cpp
  core/test/stage_mockups.h
  core/test/test_container.cpp
Due: clang-format, misspelled-moveit

Avoid segfault and improve error warnings
  capabilities/src/execute_task_solution_capability.cpp
  core/src/container.cpp
  core/src/stages/compute_ik.cpp
Due: clang-format, misspelled-moveit

Fix formatting
  capabilities/src/execute_task_solution_capability.cpp
Due: clang-format, misspelled-moveit

Remove duplicate print statement
  capabilities/src/execute_task_solution_capability.cpp
Due: clang-format, misspelled-moveit

Revert unnecessary changes
  capabilities/src/execute_task_solution_capability.cpp
  core/src/stages/compute_ik.cpp
Due: clang-format, misspelled-moveit

Revert logging change & change log level
  capabilities/src/execute_task_solution_capability.cpp
Due: clang-format, misspelled-moveit

Formatting
  capabilities/src/execute_task_solution_capability.cpp
Due: clang-format, misspelled-moveit

Change log level
  core/src/container.cpp
Due: clang-format, misspelled-moveit

Update run.launch.py
  demo/launch/run.launch.py
Due: misspelled-moveit

Fix formatting
  demo/launch/run.launch.py
Due: misspelled-moveit

Add missing imports
  demo/launch/run.launch.py
Due: misspelled-moveit

Improve formatting
  demo/launch/run.launch.py
Due: misspelled-moveit

Fix run.launch.py (#607)
  demo/launch/run.launch.py
Due: misspelled-moveit

clean up dependencies
  rviz_marker_tools/CMakeLists.txt
  rviz_marker_tools/include/rviz_marker_tools/marker_creation.h
  rviz_marker_tools/package.xml
Due: clang-format, misspelled-moveit

CI: Update actions
  .github/workflows/ci.yaml
  .pre-commit-config.yaml
Due: misspelled-moveit

Add missing test dependency
  core/package.xml
Due: misspelled-moveit

collapse full dependency lines
  rviz_marker_tools/package.xml
Due: misspelled-moveit

clean up dependencies for rviz_marker_tools (#610)
  rviz_marker_tools/CMakeLists.txt
  rviz_marker_tools/include/rviz_marker_tools/marker_creation.h
  rviz_marker_tools/package.xml
Due: clang-format, misspelled-moveit

Address review
  core/include/moveit/task_constructor/solvers/cartesian_path.h
  core/python/bindings/src/solvers.cpp
  core/src/solvers/cartesian_path.cpp
Due: clang-format, misspelled-moveit

Update API: JumpThreshold -> CartesianPrecision (#611)
  core/include/moveit/python/task_constructor/properties.h
  core/include/moveit/task_constructor/solvers/cartesian_path.h
  core/python/bindings/src/solvers.cpp
  core/src/solvers/cartesian_path.cpp
  demo/src/fallbacks_move_to.cpp
Due: clang-format, misspelled-moveit

CI: Iron release build
  .github/workflows/ci.yaml
Due: misspelled-moveit

provide a fmt wrapper
  core/include/moveit/task_constructor/fmt_p.h
  core/python/bindings/src/solvers.cpp
  core/src/container.cpp
  core/src/cost_terms.cpp
  core/src/properties.cpp
  core/src/stage.cpp
  core/src/stages/compute_ik.cpp
  core/src/stages/connect.cpp
  core/src/stages/fix_collision_objects.cpp
  core/src/stages/modify_planning_scene.cpp
Due: clang-format, misspelled-moveit

ignore Debian-specific error around urdfdom_headers
  rviz_marker_tools/CMakeLists.txt
Due: misspelled-moveit

Ignore Debian-specific catkin_lint error around urdfdom_headers (#614)
  rviz_marker_tools/CMakeLists.txt
Due: misspelled-moveit

provide a fmt wrapper (#615)
  core/include/moveit/task_constructor/fmt_p.h
  core/python/bindings/src/solvers.cpp
  core/src/container.cpp
  core/src/cost_terms.cpp
  core/src/properties.cpp
  core/src/stage.cpp
  core/src/stages/compute_ik.cpp
  core/src/stages/connect.cpp
  core/src/stages/fix_collision_objects.cpp
  core/src/stages/modify_planning_scene.cpp
Due: clang-format, misspelled-moveit

Revert "Enable parallel planning with PipelinePlanner (#450)"
  core/include/moveit/task_constructor/solvers/pipeline_planner.h
  core/python/bindings/src/solvers.cpp
  core/python/test/test_mtc.py
  core/src/solvers/pipeline_planner.cpp
  core/test/CMakeLists.txt
  core/test/pick_pa10.cpp
  core/test/pick_pr2.cpp
  core/test/pick_ur5.cpp
  core/test/test_move_relative.cpp
  core/test/test_pipeline_planner.cpp
  demo/scripts/generate_pose.py
  demo/scripts/multi_planner.py
  demo/scripts/pickplace.py
  demo/src/fallbacks_move_to.cpp
Due: clang-format, misspelled-moveit

Revert "Fix generation of Solution msg: consider backward operation"
  core/src/storage.cpp
Due: clang-format, misspelled-moveit

Revert "Update API: JumpThreshold -> CartesianPrecision (#611)"
  core/include/moveit/task_constructor/solvers/cartesian_path.h
  core/python/bindings/src/solvers.cpp
  core/src/solvers/cartesian_path.cpp
  demo/src/fallbacks_move_to.cpp
Due: clang-format, misspelled-moveit

Add path_constraints property to Connect stage
  core/python/bindings/src/stages.cpp
Due: clang-format, misspelled-moveit

CI: Return to custom cache action
  .github/workflows/ci.yaml
Due: misspelled-moveit

examples: add orientation path constraint
  demo/scripts/constrained.py
  demo/scripts/pickplace.py
Due: misspelled-moveit

CI: Update pre-commit hooks / clang-format-14
  .github/workflows/format.yaml
  .pre-commit-config.yaml
  core/include/moveit/task_constructor/stage_p.h
  core/src/cost_terms.cpp
  core/src/stages/compute_ik.cpp
  core/src/stages/modify_planning_scene.cpp
  core/src/stages/simple_grasp.cpp
  core/test/test_stage.cpp
  visualization/motion_planning_tasks/properties/property_from_yaml.cpp
Due: clang-format, misspelled-moveit

Update format.yaml
  .github/workflows/format.yaml
Due: misspelled-moveit

Add Task's setRobotModel binding
  core/python/bindings/src/core.cpp
Due: clang-format, misspelled-moveit

Quick access of stages by id/index
  core/include/moveit/task_constructor/task.h
  core/include/moveit/task_constructor/task_p.h
  core/src/task.cpp
Due: clang-format, misspelled-moveit

Update libs into .pre-commit-config.yaml
  .pre-commit-config.yaml
Due: none
